# .github/workflows/deploy.yml
name: Deploy VitePress site to Pages

on:
  # 在推送到 release 分支时触发
  push:
    branches: [release]

  # 允许你从 Actions 选项卡手动运行此工作流程
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许同时进行一次部署，跳过正在运行的部署和最新队列之间的运行
concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  # 构建工作
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 如果未启用 lastUpdated，则不需要

      # 安装 pnpm (如果你用 npm 或 yarn，请修改这里，或者使用 setup-node)
      # 如果你没有使用 pnpm，可以删除这个步骤，直接用下面的 setup-node
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.6.2
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.13.1
          cache: pnpm # 如果使用 npm，请改为 'npm'; yarn 改为 'yarn'

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install dependencies
        run: pnpm install --frozen-lockfile # 如果用 npm: npm ci

      - name: Install ni globally
        run: npm i -g @antfu/ni

      - name: Build with VitePress
        run: pnpm docs:build # 确保你的 package.json 中有这个 script，或者是 `npx vitepress build docs`

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # 这里的路径取决于你的构建输出位置
          # 默认通常是 docs/.vitepress/dist
          path: docs/.vitepress/dist

  # 部署工作
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4